// css general de la pagina


/* Css general de la pagina */
@font-face {
    font-family: $fuente-8bit;
    src: url(../fuente/8bitOperatorPlus-Regular.ttf);
}

body{
    background-color: $color-terciario;
    color: $color-fuente;
    font-family: $fuente-normal;
    a{
        color: $color-fuente;
    }
}

/* header */

.header{
    background-color: $color-primario;
    font-family: $fuente-8bit;

    /* Propiedad para ajustar el icono */
    .min-wi{
        min-width: 60px;
    }

    .anchor-header{
        text-decoration: none;
        &:hover{
            background-color: $color-boton-hover;
            color: $color-boton-fuente-hover;
        }
    }

    .anchor-header-title{
        text-decoration: none;
        &:hover{
            color: $color-fuente;
            text-shadow: 0 0 4px $color-fuente;
        }
    }


    .menu-offcanvas{
        background-color: $color-primario;
    }

    .anchor-offcanvas{
        text-decoration: none;
        &:hover{
            background-color: $color-boton-hover;
            color: $color-boton-fuente-hover;
        }
    }
}

/* Media queries */

/* Media querie para dejar el menu pegado arriba cuando ya este el icono de hamburguesa */
@media screen and (max-width: 992px){

    .sticky-menu{
        position: sticky;
        top: 0;
    }
}

// Animacion del header

/*Animacion del header*/

.fluid{
    animation: fluir 30s ease-in-out infinite;
    background: linear-gradient(45deg, $gradiente-uno, $gradiente-dos, $gradiente-uno, $gradiente-dos);
    background-size: 300%;
}

@keyframes fluir {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}

main{
    .main-color{
        background-color: $color-secundario;
    }

    .main-anchor:hover{
        color: $color-fuente;
        text-shadow: 0 0 5px $color-fuente;
    }

    .main-anchor-title{
        color: $color-fuente;
        text-decoration: none;

        &:hover{
            color: $color-fuente;
            text-shadow: 0 0 5px $color-fuente
        }
    }

}

footer{
    .main-anchor-title{
        color: $color-fuente;
        text-decoration: none;
        &:hover{
            color: $color-fuente;
            text-shadow: 0 0 5px $color-fuente
        }
    }
}
