// Colores pagina

$color-primario: #0A45C3;
$color-secundario: #7491F6;
$color-terciario: #291129;

// Colores botones

$color-boton-hover: #062B79;
$color-boton-fuente-hover: #eee;

$color-fuente: #fff;

// Color animacion gradientes

$gradiente-uno: #0A45C3;
$gradiente-dos: #7491F6;

// Fuentes

$fuente-8bit: "8bitoperator";
$fuente-normal: "Montserrat";